# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*~
.DS_Store
**/.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (필요 시 주석 해제)
# .vscode/

# Flutter / Dart / Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
**/doc/api/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# dotenv
.env*

# Avoid committing generated Javascript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Flutter package metadata (로컬 패키지 생성 시 자동 생성)
**/.metadata

# Melos
pubspec_overrides.yaml
melos_*.iml
